# config.ini for deployment

[general]
jwt_secret = fooquooPaike2Zo0ieGaCoo2iequ3cohNaeF3bee7aot4fiWeiCohk6chaekoh7m
root_path = /api
url = https://keywi.agdsn.de/api


[database]
url = postgresql://keywi:password@prod-db/keywi

[auth]
config_url = https://alf.agdsn.de/auth/realms/internal/.well-known/openid-configuration
client_id = keywi
client_secret = secret
rw_admin_roles = vorstand
ro_admin_roles = roots
user_roles = aktiv
