fastapi~=0.70.0
uvicorn~=0.15.0
FastAPI-SQLAlchemy~=0.2.1
sqlalchemy~=1.4.26
psycopg2~=2.9.1
SQLAlchemy-Utils~=0.37.9
pydantic[email]
starlette
wrapt
python-multipart
passlib
python-jose[cryptography]~=3.3.0
authlib~=0.15.5
httpx~=0.21.3
itsdangerous
pdfkit~=1.0.0
jinja2
